$prim_color = #e43a63;
$sec_color = #ce365b;
$nav_icon_color = #1cc1d2;
$font_num_color = #1bbbd9;
$main_font_color = #5b5b5b;
$prim_form_color = #21d0e2;
$sec_form_color = #1bbad8;
$btn_border_color = #41edff;
$field_shadow_color = #0d9bbd;
$field_bg_color = #12a9c4;
$footer_info_b_color = #d3eff2;
$footer_info_title_color = #626161;
$footer_info_gradient = linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
$page_btm_gradient = radial-gradient(circle,#e9f6f8,#eff8fc,#fbfcfe,#fff,#fff);

//socials

$fb_color = #3b5998;
$vk_color = #4d7198;
$ok_color = #f2720c;
$yt_color = #cc181e;  