@font-face {
	font-family: "Intro";
	src: url("../../fonts/Intro/Intro-Regular.woff2") format("woff2"),
    	 url("../../fonts/Intro/Intro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;     
}

@font-face {
	font-family: "Intro";
	src: url("../../fonts/Intro/Intro-Bold.woff2") format("woff2"),
    	 url("../../fonts/Intro/Intro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;     
}

@font-face {
	font-family: "Intro Alt";
	src: url("../../fonts/Intro/Intro-Thin-Alt.woff2") format("woff2"),
    	 url("../../fonts/Intro/Intro-Thin-Alt.woff") format("woff");
	font-weight: 300;
	font-style: normal;     
}

@font-face {
	font-family: "Intro Alt";
	src: url("../../fonts/Intro/Intro-Regular-Alt.woff2") format("woff2"),
    	 url("../../fonts/Intro/Intro-Regular-Alt.woff") format("woff");
	font-weight: 400;
	font-style: normal;     
}

@font-face {
	font-family: "Intro Alt";
	src: url("../../fonts/Intro/Intro-Bold-Alt.woff2") format("woff2"),
    	 url("../../fonts/Intro/Intro-Bold-Alt.woff") format("woff");
	font-weight: 700;
	font-style: normal;     
}