.heading {
	font-family: "Intro Alt", Arial, sans-serif;
	font-size: 34px;
	font-weight: 400;
	margin: 0 0 8px;
	text-align: center;
	width: 100%;
}

.heading_sub {
	font-size: 22px;
	font-weight: 300;
}